/* Arial Regular */
@font-face {
    font-family: 'ArialRegular';
    src: url('../fonts/Arial-Regular/Arial-Regular.eot');
    src: url('../fonts/Arial-Regular/Arial-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arial-Regular/Arial-Regular.woff') format('woff'),
         url('../fonts/Arial-Regular/Arial-Regular.ttf') format('truetype'),
         url('../fonts/Arial-Regular/Arial-Regular.svg#Arial-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Adobe Caslon Semibold Pro*/
@font-face {
    font-family: 'ACSPI';
    src: url('../fonts/Adobe-Caslon-Pro-Semibold/Adobe-Caslon-Pro-Semibold-Italic.ttf') format('truetype');
    font-style: italic;
}
/*Century Gothic Regular*/
@font-face {
    font-family: 'Century-Gothic-Regular';
    src: url('../fonts/Century-Gothic-Regular/Century-Gothic-Regular.eot');
    src: url('../fonts/Century-Gothic-Regular/Century-Gothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Century-Gothic-Regular/Century-Gothic-Regular.woff') format('woff'),
         url('../fonts/Century-Gothic-Regular/Century-Gothic-Regular.ttf') format('truetype'),
         url('../fonts/Century-Gothic-Regular/Century-Gothic-Regular.svg#Century-Gothic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}