/*Обнуляємо відступи*/
* {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
/*Позиціонуємо елементи*/
html, body {
  height: 100%;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
/*Задаємо шрифти*/
address,
.cloud-menu span,
.left-sidebar-header h3,
.menu li,
.novelties li,
.open-times,
.post-body p,
.right-sidebar-header h3,
.services li,
section h2,
.top-manager,
.tech-support,
.vip-zone span {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
}
.phone-numbers {
  font-family: "ACSPI";
}
.cloud-menu li {
  font-family: "Trebuchet MS";
}
.footer-menu p, 
.footer-menu a, 
.footer-menu span {
  font-family: Tahoma;
  font-size: 11px;
}
/*Загальний контейнер*/
.main {
  background-color: #020202;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  width: 1019px;
  zoom: 1; /* for IE */
}
/*Шапка*/
header {
  background: url(../img/header_bg.png) no-repeat;
  height: 161px;
  width: 100%;
}
.logo {
  background: url(../img/logo.png) no-repeat;
  height: 129px;
  left: 62px;
  width: 245px;
}
.phone {
  background: url(../img/phone.png) no-repeat;
  height: 100px;
  left: 871px;
  top: 10px;
  width: 100px;
}
/*Адреса*/
address {
  color: #fff;
  font-size: 12px;
  height: 30px;
  left: 310px;
  line-height: 16px;
  top: 60px;
  width: 3;
}
address span {
  font-weight: bold;
}
address a {
  color: #ffd03f;
  display: block;
  text-align: right;
}
/*Телефонні номери*/
.phone-numbers {
  color: #fff;
  font-size: 32px;
  line-height: 33px;
  right: 28px;
  top: 50px;
}
#second-number {
  padding-right: 2px;
}
#first-number::before, 
#second-number::before {
  font: 15px "Century-Gothic-Regular";
  position: absolute;
}
#first-number::before {
  content: "(495)";
  margin: -7px 0px 0px -41px;
}
#second-number::before {
  content: "(499)";
  margin: -7px 0px 0px -42px;
}
/*Графік роботи*/
.open-times {
  color: #fff;
  font-size: 10px;
  line-height: 17px;
  top: 120px;
  right: 42px;
}
.open-times span {
  text-decoration: underline;
}
/*Розділ меню*/
nav {
  background: url(../img/nav_bg.png) no-repeat;
  height: 388px;
  width: 100%;
}
nav a {
  text-decoration: none;
}
.car-left {
	background: url(../img/car_left.png) no-repeat;
	height: 220px;
  top: -77px;
	width: 200px;
}
.car-center {
  background: url(../img/car_center.png) no-repeat;
  height: 428px;
  right: 132px;
  top: -112px;
  width: 630px;
}
/*Хмарне меню*/
.cloud-menu a {
  background-color: #2b3138;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  position: absolute;
}
.cloud-menu li {
  color: #ffcc33;
  font-size: 13px;
  font-style: italic;
  list-style-type: none;
  text-shadow: #000 1px 1px 1px;
  word-wrap: break-word;
}
.cloud-menu span {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
}
.cloud-menu li::before {
  content: url('../img/yellow_arr.png');
  height: 16px;
  margin-right: 10px;
  position: absolute;
  width: 9px;  
}
/*Сигнализации, билайзера…*/
.cloud-menu a:nth-child(1) {
  left: 183px;
  top: 30px;
  max-width: 176px;
  padding: 10px 6px 11px 16px;
}
.cloud-menu a:nth-child(1) li::before {
  left: 3px;
  top: 18px;
}
.cloud-menu a:nth-child(1)::after {
  bottom: -10px;
  right: 31px;
}
/*Автозвук*/
.cloud-menu a:nth-child(2) {
  left: 412px;
  max-width: 83px;
  max-height: 16px;
  padding: 5px 7px 6px 22px;
  top: -45px;
}
.cloud-menu a:nth-child(2) li::before {
  left: 3px;
  top: 5px;
}
.cloud-menu a:nth-child(2)::after {
  bottom: -10px;
  right: 11px;
}
/*Интерьер салона…*/
.cloud-menu a:nth-child(3) {
  line-height: 16px;
  max-width: 200px;
  max-height: 60px;
  padding: 7px 4px 7px 18px;
  right: 251px;
  top: -65px;
}
.cloud-menu a:nth-child(3) li::before {
  left: 4px;
  top: 23px;
}
.cloud-menu a:nth-child(3)::after {
  bottom: -10px;
  right: 102px;
}
/*Тонировка*/
.cloud-menu a:nth-child(4) {
  line-height: 16px;
  max-width: 100px;
  max-height: 26px;
  padding: 6px 14px 4px 21px;
  top: 19px;
  right: 58px;
}
.cloud-menu a:nth-child(4) li::before {
  left: 4px;
  top: 5px;
}
.cloud-menu a:nth-child(4)::after {
  bottom: -10px;
  right: 77px;
}
/*Техноблок*/
.cloud-menu a:nth-child(5) {
  line-height: 9px;
  max-width: 100px;
  max-height: 26px;
  padding: 8px 12px 9px 20px;
  right: 62px;
  top: 202px;
}
.cloud-menu a:nth-child(5) li::before {
  left: 3px;
  top: 7px;
}
.cloud-menu a:nth-child(5)::after {
  right: 74px;
  top: -10px;
}
/*Мультимедиа*/
.cloud-menu a:nth-child(6) {
  line-height: 13px;
  max-height: 30px;
  max-width: 100px;
  padding: 8px 24px 9px 26px;
  right: 197px;
  top: 222px;
}
.cloud-menu a:nth-child(6) li::before {
  left: 5px;
  top: 7px;
}
.cloud-menu a:nth-child(6)::after {
  top: -10px;
  left: 16px;
}
/*Охранные спутниковые системы*/
.cloud-menu a:nth-child(7) {
  line-height: 13px;
  max-height: 26px;
  max-width: 148px;
  padding: 7px 22px 8px 23px;
  right: 305px;
  top: 319px;
}
.cloud-menu a:nth-child(7) li::before {
  left: 4px;
  top: 13px;
}
.cloud-menu a:nth-child(7)::after {
  left: 23px;
  top: -10px;
}
/*Ксенон*/
.cloud-menu a:nth-child(8) {
  left: 275px;
  line-height: 13px;
  max-height: 30px; 
  max-width: 100px;
  padding: 6px 27px 6px 23px;
  top: 270px;
}
.cloud-menu a:nth-child(8) li::before {
  left: 6px;
  top: 5px;
}
.cloud-menu a:nth-child(8)::after {
  right: 6px;
  top: -10px;
}
/*Тюнинг, обвес*/
.cloud-menu a:nth-child(9) {
  left: 158px;
  line-height: 13px;
  max-width: 90px;
  max-height: 30px;
  padding: 7px 8px 6px 20px;
  top: 184px;
}
.cloud-menu a:nth-child(9) li::before {
  left: 3px;
  top: 6px;
}
.cloud-menu a:nth-child(9)::after {
  right: 11px;
  top: -10px;
}
/*Трикутники*/
.cloud-menu a:nth-child(-n+5)::after {
  border: 5px solid transparent; 
  border-top: 5px solid #2b3138;
  content: '';
  position: absolute;
}
.cloud-menu a:nth-child(n+5)::after {
  border: 5px solid transparent; 
  border-bottom: 5px solid #2b3138;
  content: '';  
  position: absolute;
} 
/*Вертикальне меню*/
.menu {
  margin-left: 17px;
  text-decoration: none;
  top: 306px;
  z-index: 10;
}
.menu li {
  background-color: #330202;
  border-bottom: 1px solid #000;
  color: #cacaca;
  display: block;
  font-size: 22px;
  height: 32px;
  list-style-type: none;
  line-height: 27px;
  padding: 7px 31px 0px 30px;
  width: 133px;
}
.menu a .active {
  background-color: #aa0607;
  color: #fff;
}
.menu a li::before {
  content: url('../img/circle_marker.png');
  height: 11px;
  margin-right: 19px;
  width: 11px;
}
/*Тіло*/
article {
  height: 620px;
  width: 1019px;
}
/*Лівий сайдбар*/
aside, section {
  height: 751px;
  float: left;
}
.left-sidebar {
  width: 280px;
}
.left-sidebar-header {
  background-color: #ffd03f;
  height: 38px;
  left: 20px;  
  top: 153px;
  width: 210px;
}
.left-sidebar-header::after {
  border: 5px solid transparent; 
  border-top: 5px solid #ffd03f;
  bottom: -10px;
  content: '';
  position: absolute;
  right: 50px;
}
.left-sidebar-header h3 {
  font-size: 22px;
  left: 25px;
  top: 6px;
}
.services {
  background-color: #2b3138;
  height: 264px;
  left: 27px;
  top: 187px;
  width: 223px;
}
.services::after {
  border: 5px solid transparent; 
  border-top: 5px solid #2b3138;
  bottom: -10px;
  content: '';
  position: absolute;
  right: 32px;
}
.services ul {
  list-style-type: none; 
  left: 42px;
  top: 20px;
}
.services li {
  color: #fff;
  font-size: 13px;
  margin-bottom: 14px;
}
.services li::before {
  content: url('../img/arr_marker.png');
  left: -20px;
  position: absolute;
}
/*Контент*/
section {
  width: 469px;
}
.post {
  margin-bottom: 15px;
}
.post-header {
  height: 59px;
  width: 100%;
}
.post-header h2 {
  color: #fff;
  height: auto;
  left: 48px;
  top: 13px;
  width: 100%;
}
.about-us {
  font-size: 28px;
}
.about-us::before {
  bottom: 7px;
  content: url('../img/white_arr.png');
  left: -15px;
  position: absolute;
}
.post-body {
  border-bottom: 1px solid #fff;
  margin: 0px 14px 0px 36px;
  padding-bottom: 16px;
}
.pic {
  float: left;
  height: 108px;
  margin: 5px 19px 5px 0px;
  width: 148px;
}
#grey-car {
  margin-top: 8px;
  margin-bottom: 4px;
}
.post-body p {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  text-indent: 36px;
}
.vip-zone {
  font-size: 36px;
  text-indent: 1px;
}
.vip-zone span {
  color: #ffd03f;
  font-size: 22px;
  top: 8px;
}
.vip-zone::before {
  bottom: 9px;
  content: url('../img/white_arr.png');
  left: -14px;
  position: absolute;
}
.vip-zone hr {
  left: 26px;
  top: 32px;
  width: 68px;
}
#last-post {
  border-bottom: none;
}
/*Правий сайдбар*/
.right-sidebar {
  width: 270px;
}
.right-sidebar-header {
  background-color: #ffd03f;
  height: 38px;
  left: 21px;
  top: 9px;
  width: 151px;
}
.right-sidebar-header::after {
  border: 5px solid transparent; 
  border-top: 5px solid #ffd03f;
  bottom: -10px;
  content: '';
  position: absolute;
  right: 19px;
}
.right-sidebar-header h3 {
  color: #735d17;
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  left: 32px;
  top: 7px;
}
.novelties {
  background-color: #2b3138;
  height: 262px;
  margin: 42px 15px 107px 32px;
  width: 223px;
}
.novelties::after {
  border: 5px solid transparent; 
  border-top: 5px solid #2b3138;
  bottom: -10px;
  content: '';
  position: absolute;
  right: 33px;
}
.novelties ul {
  left: 42px;
  list-style-type: none; 
  top: 15px;
}
.novelties li {
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 14px;
  text-decoration: underline;
}
.novelties li::before {
  left: -24px;
  content: url('../img/checkbox_marker.png');
  position: absolute;
}
.support-wrap {
  margin: 0px 13px 0px 28px;
}
.car-bottom {
  background: url('../img/car_bottom.png') no-repeat;
  height: 80px;
  width: 230px;
}
.top-manager, .tech-support {
  font-size: 22px;
  top: 128px;
  left: 34px;
}
.top-manager {
  background: url('../img/top_manager_bg.png') #323538 no-repeat;
  color: #ffd03f;
  height: 65px;
  left: 4px;
  line-height: 63px;
  text-indent: 14px;
  top: 79px;
  width: 223px;
}
.top-manager::before {
  border: 5px solid transparent; 
  border-bottom: 5px solid #323538;
  content: '';
  left: 34px;
  position: absolute;
  top: -10px;  
}
.tech-support {
  background-color: #fff;
  height: 42px;
  line-height: 42px;
  text-indent: 24px;
  width: 190px;
}
.tech-support::before {
  border: 5px solid transparent; 
  border-bottom: 5px solid #fff;
  content: '';
  left: 47px;
  position: absolute;
  top: -10px;
}
/*Підвал*/
footer {
  bottom: 0;
  height: 55px;
  left: 0;
  width: 100%;
}
.footer-container {
  background-color: #aa0607;
  height: 55px;
  margin: 0px 0px 0px 26px;
  width: 977px;
}
.footer-container::before {
  border: 5px solid transparent; 
  border-bottom: 5px solid #aa0607;
  content: '';
  right: 72px;
  top: -10px;
}
.footer-menu {
  float: left;
  height: 100%;
  padding: 15px 0px 0px 42px;
  width: 716px; 
}
.footer-menu p {
  color: #fff;
  line-height: 8px;
}
.footer-menu a, 
.footer-menu span {
  color: #ffda48;
}
.counters {
  float: left;
  padding-top: 16px; 
}
.footer-container img {
  display: inline-block;
  height: 31px;
  margin-left: 8px;
  width: 88px;
}